/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.awsm-docs h2 {
    text-align: center;
    padding: 1rem;
}
  
.awsm-docs h3 {
    padding: 0.75rem 0 0.5rem 0.5rem;
    margin: 0 0 1rem 0;
    background-color: #eee;
}
  
.awsm-docs .awsm-docs-category-blocks {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  
.awsm-docs .docs-category-block {
    width: 250px;
}
  